/* basiert auf http://de.selfhtml.org/css/layouts/anzeige/kopfundfuss.htm */

  body {
    color: black; background-color: white;
    font-size: 100.01%;
    font-family: Helvetica,Arial,sans-serif;
    margin: 0; padding: 1em;
    min-width: 41em; /* Mindestbreite verhindert Umbruch und Anzeigefehler in modernen Browsern */
  }

  h1 {
    font-size: 1.5em;
    margin: 0 0 0.7em; padding: 0.3em;
    text-align: center;
    background-color: #fed;
    border: 2px ridge silver;
  }
  html>body h1 {
    border-color: gray;  /* Farbangleichung an den Internet Explorer  */
  }

  div#linkespalte {
    font-size: 0.83em;
    float: left; width: 18em;
  }
  div#linkespalte div {
    margin: 0 0 1.2em; padding: 0;
    border: 1px dashed silver;
  }
  div#linkespalte li {
    list-style: none;
    margin: 0; padding: 0.5em;
  }
  div#linkespalte a {
    display: block;
    padding: 0.2em;
    font-weight: bold;
  }
  div#linkespalte a:link {
    color: black; x-background-color: #eee;
  }
  div#linkespalte a:visited {
    color: #666; x-background-color: #eee;
  }
  div#linkespalte a:hover {
    color: black; x-background-color: white;
  }
  div#linkespalte a:active {
    color: white; x-background-color: gray;
  }

  div.sponsoren { text-align:center; }
  div.sponsoren h3 { margin-bottom:0em;  }
  div.sponsoren img { margin-bottom:1em; }
  div.related h3 { text-align:center; margin-bottom:0em;}
  img { border:0; }

  div#Info {
    font-size: 0.9em;
    float: right; width: 12em;
    margin: 0 0 1.1em; padding: 0;
    background-color: #eee; border: 1px dashed silver;
  }
  div#Info h2 {
    font-size: 1.33em;
    margin: 0.2em 0.5em;
  }
  div#Info p {
    font-size: 1em;
    margin: 0.5em;
  }

  div#Inhalt {
    margin: 0 12em 1em 16em;
    padding: 0 1em;
    border: 1px dashed silver;
  }
  * html div#Inhalt {
    height: 1em;  /* Workaround gegen den 3-Pixel-Bug des Internet Explorers */
  }
  div#Inhalt h2 {
    font-size: 1.2em;
    margin: 0.2em 0;
  }
  div#Inhalt p {
    font-size: 1em;
    margin: 1em 0;
  }

  div#Fusszeile {
    clear: both;
    font-size: 0.9em;
    margin: 0; padding: 0.1em;
    text-align: center;
    background-color: #fed; border: 1px solid silver;
  }
